<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login</title>
</head>
<div class="header">
    <div class="inner-header flex"></div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 180 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>
<div class="view">
    <div class="mobile-view">
        <div class="wrap">
            <div class="before-line"></div>
            <div class="main-view">
                <form id="loginForm" class="loginForm">
                    <div class="loginup">
                        <a class="title" href="/">FitTrack</a>
                        <div class="form-holder">
                            <input type="text" placeholder="아이디를 입력해주세요." id="username" name="username"
                                class="login__input" />
                            <input type="password" placeholder="비밀번호를 입력해주세요." id="pw" name="pw" class="login__input" />
                        </div>
                        <button class="login_btn" type="button" onclick="login()">로그인</button>
                    </div>
                    <div class="login slide-up">
                        <div class="center">
                            <a class="register_btn" href="auth/register">회원가입</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<body>
    <script src="/js/login.js"></script>
</body>

</html>