<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--Google Material Icons-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://kit.fontawesome.com/693f483c38.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/main.css">
</head>

<body>
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>

</html>