{% extends 'layout.html' %}

{% block content %}
<!--Hey! This is the original version
of Simple CSS Waves-->
<div class="header">
    <!--Content before waves-->
    <div class="inner-header flex">
    </div>
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 180 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</div>
<!--Header ends-->
<!--Content starts-->
<!--Content ends-->

<div class="view">
    <div class="mobile-view">
        <div class="wrap">
            <div class="before-line"></div>
            <div class="main-view">
                <div class="create-room">
                    <fieldset>
                        <div class="login-box">
                            <h2>Create a chat room</h2>
                            <form action="/room" method="post">
                                <div class="user-box">
                                    <input type="text" name="title" placeholder="Room title">
                                </div>
                                <div class="user-box">
                                    <input type="number" name="max" placeholder="Capacity (minimum of 2)" min="2"
                                        value="10">
                                </div>
                                <div class="user-box">
                                    <input type="password" name="password" placeholder="Password (if not, open room)">
                                </div>
                                <div class="user-box">
                                    <input type="text" name="owner" placeholder="Boss Name">
                                </div>
                                <div>
                                    <button type="submit">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </div>

                <footer>
                    <div class="inner">
                        <a href="http://localhost:3000/index3">
                            <ul class="home">
                                <span class="material-symbols-outlined">
                                    <i class="fa-sharp fa-solid fa-house" style="color: #000000"></i>
                                </span>
                                <div style="color: #000000;">Home</div>
                            </ul>
                        </a>
                        <a href="http://localhost:8000/">
                            <ul class="community">
                                <span class="material-symbols-outlined">
                                    <i class="fa-solid fa-clipboard" style="color: #000000"></i>
                                </span>
                                <div style="color: #000000;">Bord</div>
                            </ul>
                        </a>
                        <a href="http://localhost:8005/">
                            <ul class="community-chat">
                                <span class="material-symbols-outlined">
                                    <i class="fa-solid fa-comment" style="color: #000000"></i>
                                </span>
                                <div style="color: #000000;">Chat</div>
                            </ul>
                        </a>
                        <a href="#">
                            <ul class="setting">
                                <span class="material-symbols-outlined">
                                    <i class="fa-solid fa-user" style="color: #000000"></i>
                                </span>
                                <div style="color: #000000;">MyPage</div>
                            </ul>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

{% endblock %}